.git
.github
.gitlab-ci.yml
.editorconfig
.actrc
tools/*
.artifacts/
grafana/
*.md
go.work.sum
build/
.cppservicelib/
.venv/
.servicegen/dependencies/
dist/
dist-test/
node_modules/
**/node_modules/
**/dist/
**/dist-test/
*.tsbuildinfo
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
